@model List<Demo_Mvc_Project.Models.TblPassenger>

@{
    ViewBag.Title = "PassengerList";
    Layout = "~/Views/Shared/Layout2.cshtml";
}

<h2>Yolcu Listesi</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Yaş</th>
        <th>Cinsiyet</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.PassengerID</td>
            <td>@item.PassengerName</td>
            <td>@item.PassengerSurname</td>
            <td>@item.PassengerAge</td>
            <td>@item.PassengerGender</td>
        </tr>
    }
</table>
<a href="#" class="btn btn-info">Yeni Yolcu Girişi</a>
